In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import keras
from keras.models import Sequential # init NN
from keras.layers import Dense # create layers in ANN
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

In [238]:
dataset = pd.read_csv('https://raw.githubusercontent.com/lanceeeaton/ANN_Churn_Modeling/master/Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [239]:
dataset.isnull().values.any()

False

In [0]:
X = dataset.iloc[:,3:13]
y = dataset.iloc[:,-1].values

In [241]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [242]:
y[:5]

array([1, 0, 1, 0, 0])

Encoding Categorical Vars, Making Dummy Vars and avoiding Dummy var Trap

In [0]:
X = pd.get_dummies(X, columns = ['Geography','Gender'])
X = X.drop(columns=['Geography_Spain', 'Gender_Male'])

In [244]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Gender_Female
0,619,42,2,0.00,1,1,1,101348.88,1,0,1
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,1
3,699,39,1,0.00,2,0,0,93826.63,1,0,1
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1

Converting to float to avoid warning

In [0]:
X = X.astype(float)

Spliting

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

Feature Scaling

In [0]:
standard_scaler = StandardScaler()
X_train = standard_scaler.fit_transform(X_train)
X_test = standard_scaler.transform(X_test)

In [249]:
classifier = Sequential()
classifier.add(Dense(activation='relu', input_dim = 11, units = 7, kernel_initializer='uniform')) # units = .5(num input nodes + num output nodes)
classifier.add(Dense(activation='relu', units = 7, kernel_initializer='uniform')) # 2nd hidden layer
classifier.add(Dense(activation='sigmoid', units = 1, kernel_initializer='uniform')) # out layer

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics=['accuracy']) # telling it to use stochastic gradient descent, and cross-entropy loss for a binary output
classifier.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.5774 - acc: 0.7944
Epoch 2/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.4376 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.4185 - acc: 0.8069
Epoch 4/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.4026 - acc: 0.8133
Epoch 5/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3875 - acc: 0.8177
Epoch 6/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.3740 - acc: 0.8395
Epoch 7/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3644 - acc: 0.8489
Epoch 8/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3574 - acc: 0.8540
Epoch 9/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3533 - acc: 0.8548
Epoch 10/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3501 - acc: 0.8590
Epoch 11/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3482 - acc: 0.8585
Epoch 12/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.3466 - acc: 0.8590
Epoch 13/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3456 - acc: 0.8601
Epoch 14/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3450 - acc: 0.8605
Epoch 15/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3442 - acc: 0.8605
Epoch 16/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.3427 - acc: 0.8608
Epoch 17/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3424 - acc: 0.8610
Epoch 18/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.3414 - acc: 0.8615
Epoch 19/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3405 - acc: 0.8614
Epoch 20/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3404 - acc: 0.8618
Epoch 21/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3396 - acc: 0.8622
Epoch 22/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.3392 - acc: 0.8629
Epoch 23/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3389 - acc: 0.8616
Epoch 24/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3385 - acc: 0.8628
Epoch 25/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3383 - acc: 0.8621
Epoch 26/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3382 - acc: 0.8619
Epoch 27/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.3375 - acc: 0.8635
Epoch 28/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3378 - acc: 0.8624
Epoch 29/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3372 - acc: 0.8634
Epoch 30/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3374 - acc: 0.8616
Epoch 31/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3369 - acc: 0.8626
Epoch 32/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3372 - acc: 0.8618
Epoch 33/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3368 - acc: 0.8614
Epoch 34/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.3366 - acc: 0.8634
Epoch 35/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3364 - acc: 0.8630
Epoch 36/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3365 - acc: 0.8619
Epoch 37/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3361 - acc: 0.8626
Epoch 38/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3357 - acc: 0.8629
Epoch 39/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.3359 - acc: 0.8638
Epoch 40/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3357 - acc: 0.8630
Epoch 41/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3357 - acc: 0.8624
Epoch 42/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3357 - acc: 0.8632
Epoch 43/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3356 - acc: 0.8632
Epoch 44/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3355 - acc: 0.8628
Epoch 45/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3356 - acc: 0.8638
Epoch 46/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3353 - acc: 0.8630
Epoch 47/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3352 - acc: 0.8632
Epoch 48/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3349 - acc: 0.8635
Epoch 49/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3348 - acc: 0.8631
Epoch 50/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3353 - acc: 0.8632
Epoch 51/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3345 - acc: 0.8634
Epoch 52/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3354 - acc: 0.8636
Epoch 53/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3348 - acc: 0.8632
Epoch 54/100
8000/8000 [==============================] - 0s 39us/step - loss: 0.3347 - acc: 0.8631
Epoch 55/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3341 - acc: 0.8638
Epoch 56/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3348 - acc: 0.8634
Epoch 57/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3347 - acc: 0.8641
Epoch 58/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3343 - acc: 0.8634
Epoch 59/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3346 - acc: 0.8626
Epoch 60/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3344 - acc: 0.8635
Epoch 61/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.3346 - acc: 0.8621
Epoch 62/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3346 - acc: 0.8632
Epoch 63/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3342 - acc: 0.8632
Epoch 64/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3343 - acc: 0.8635
Epoch 65/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3341 - acc: 0.8644
Epoch 66/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3347 - acc: 0.8630
Epoch 67/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3343 - acc: 0.8640
Epoch 68/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3345 - acc: 0.8639
Epoch 69/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3343 - acc: 0.8624
Epoch 70/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3338 - acc: 0.8649
Epoch 71/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3343 - acc: 0.8636
Epoch 72/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3336 - acc: 0.8646
Epoch 73/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3345 - acc: 0.8646
Epoch 74/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3340 - acc: 0.8645
Epoch 75/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3342 - acc: 0.8640
Epoch 76/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3342 - acc: 0.8646
Epoch 77/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3335 - acc: 0.8646
Epoch 78/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3337 - acc: 0.8644
Epoch 79/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3337 - acc: 0.8636
Epoch 80/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3339 - acc: 0.8626
Epoch 81/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3337 - acc: 0.8628
Epoch 82/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3343 - acc: 0.8646
Epoch 83/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3338 - acc: 0.8631
Epoch 84/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3335 - acc: 0.8632
Epoch 85/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3334 - acc: 0.8644
Epoch 86/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3338 - acc: 0.8640
Epoch 87/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3336 - acc: 0.8636
Epoch 88/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3335 - acc: 0.8639
Epoch 89/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3333 - acc: 0.8635
Epoch 90/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3338 - acc: 0.8628
Epoch 91/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3335 - acc: 0.8642
Epoch 92/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3336 - acc: 0.8636
Epoch 93/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3334 - acc: 0.8638
Epoch 94/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3333 - acc: 0.8647
Epoch 95/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3336 - acc: 0.8652
Epoch 96/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3335 - acc: 0.8649
Epoch 97/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3338 - acc: 0.8641
Epoch 98/100
8000/8000 [==============================] - 0s 38us/step - loss: 0.3333 - acc: 0.8639
Epoch 99/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3332 - acc: 0.8640
Epoch 100/100
8000/8000 [==============================] - 0s 37us/step - loss: 0.3335 - acc: 0.8641

In [0]:
y_pred_prob = classifier.predict(X_test)
y_pred = (y_pred_prob > 0.5)

In [0]:
cm = confusion_matrix(y_test, y_pred)

In [252]:
cm

array([[1526,   69],
       [ 203,  202]])

In [253]:
accuracy = (cm[0][0] + cm[1][1])/ len(y_pred)
accuracy

0.864

In [0]:
new_customer = [[600,40, 3, 60000, 2, 1, 1, 50000,1,0,0]]

In [0]:
new_customer = standard_scaler.transform(new_customer)

In [256]:
new_customer_pred_prob = classifier.predict(new_customer)
new_customer_pred = (new_customer_pred_prob > 0.5)
new_customer_pred

array([[False]])

This is an exercise that correponds with the Deep Learning A-Z course on Udemy.